/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@font-face {
    font-family: 'Hello Bride';
    src: url(../fonts/Hello\ Bride\ Script.ttf);
}
/* Style CSS sur ma page */
*{
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}
body {
    background-image:url("../images/Fond1.jpg");
    padding:0;
    margin:0;
    background-size: cover;
    background-attachment: fixed;
    color:#f8f8f8;
    font-family: 'Rajdhani', sans-serif;
    font-size: larger;
    font-weight: 550;
}
.centrage h1{
    padding-top: 50px;
    letter-spacing: 5px;
    font-family: 'Hello Bride';
    font-size:70px;
    text-shadow: #000000 25px 5px 10px;
}
.centrage h2{
    padding-top: 25px;
    padding-left: 25px;
    text-shadow: #000000 25px 5px 10px;
}
#Logo{
    position: absolute;
    top:0;
    left:0;
    width: 140px;
    height: 140px;
}
.conteneur{
    display: flex;
    justify-content:center;
}
#menu {
    width: 100%;
    background-color: #00fff9;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#menu a{
    margin:0;
    margin-right: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    padding: 25px 0;
    text-align: center;
    display: block;
    letter-spacing: 2px;
    color: #161e6d;
}
#menu #menucontact{
    margin: 0px;
}
#menu a:active, #menu a:hover, #menu a:focus {
    color: #161e6d;
}
#Maphoto {
    margin-bottom: 50px;
    width:350px;
    height:400px;
    border-radius: 25px;
    box-shadow: #00fff9 -10px 6px 18px;
}
.menuitems:hover{
    border-bottom: #00FF86 2.5px solid;
}
.paragraphe{
    padding: 50px 20% 0 20%;
    text-align: justify;
}
#konixlink{
    color: #f0f0f0;
    text-decoration: none;
    transition-duration: 0.25s;
    transition-property: all;
}
#konixlink:hover{
    color: #f0f0f0;
    border-bottom: #00FF86 1px solid;
}
h3{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
    margin: 75px 0 25px 0;
    transition-duration: 1s;
    transition-property: all;
}
.underlign{
    border-bottom: #00FF86 2.5px solid;
    text-shadow: #00FF86 2px 5px 5px;
    font-weight: 500;
}
.section {
    height: auto;
}
#Parcours{
    height: auto;
}
.imgcentrer{
    width:100%;
    text-align: center;
}
.illustrations{
    border-radius: 25px;
    width: 720px;
    height:400px;
}
.imgcompetences{
    width:150px;
    height: auto;
    padding-right: 5%;
    transition-duration: 1s;
}
.imgcompetences:hover{
    transform: scale(1.1);
}
#cisco{
    margin-left: 50px;
}
.paragraphe ul{
    margin-top: 50px;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}
.paragraphe li{
    width: 30%;
    list-style: none;
    font-weight: 700;
    font-style: italic;
    text-shadow: #000000 3px 6px 6px;
}
#cisco{
    height:150px;
    line-height: 100px;
}
#skills{
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
}
.parcours{
    text-align: center;
    width: 100%;
}
.parcours ul li img{
    text-align: center;
}
.parcours li{
    width:100%;
    margin-top: 5px;
}
.date {
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    transition-property: none;
}
.imgformations{
    width:200px;
    height: 125px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top:50px;
    transition-duration: 1s;
    box-shadow: #1c2a50 10px 15px 60px;
    border-radius: 20px;
}
.imgformations:hover{
    transform:scale(1.08);
}
.paragraphespecial{
    padding: 50px 20% 0 20%;
    text-align: justify;
}
.travail{
    font-size: 25px;
    list-style: none;
    margin-top: 50px;
}
.gauche{
    text-align: left;
}
.droite{
    text-align: right;
}
#Parcours h4{
    border-bottom: #00FF86 1px solid;
}
.imgentreprises{
    width: 250px;
    height: 200px;
    margin-top: 20px;
    border-radius: 20px;
}
.imgside{
    display: flex;
}
.imgside p{
    margin:50px;
    font-style: italic;
    font-size: 20px;
}
footer {
    background-color: #f0f0f0;
    margin-top: 100px;
    color:#1c2a50;
}
#Contacts{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}
.formulaire{
    width: 500px;
}
#droitauteur{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
#name{
    width: 300px;
    height:25px;
    margin-left:32px;
}
#mail{
    width:300px;
    height:25px;
    margin-left: 25px;
}
#msg{
    width:300px;
    height:150px;
}
.social {
    display: flex;
    width: 250px;
    justify-content: space-around;
}
.contactlogo{
    width:75px;
    transition-duration: 0.5s;
}
.contactlogo:hover{
    transform: scale(1.1);
}
