h1 {
    color:aqua;
    border-radius:10px #02f7cf;
    vertical-align:top;
}
image{
float:left;
padding-bottom:100px;
}
a {
border-width: 2px;
border-color: hsl(170, 98%, 49%);
vertical-align:top;
color:#02f7cf;
text-justify:auto;
font-size: 50px; 

}

#imgGrand {
    background: hsl(170, 98%, 49%);
    font-size: 3rem;
    cursor: pointer;
    padding: 0.7rem;
    width: 250px;
    height: 270px;
    margin : cover;
    object-fit: cover;
    transition-property: transform;
    transition-duration: 1000ms;
    transform: scale(1);

}
#imgGrand:hover 
{
    transform: scale(1.15);  

}

.email_section {
    background: #011c37;
    color: #15DEA5;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    width: 600px;
    margin : auto;

}
#email:not(:focus):invalid
{
    background-color: red;
}
#email:focus
{
background-color: green;
}
#email
 {
  background-color: white;
}
#imgBouge {
    background: #011c37;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem;
    border-radius: 10rem;
    width: 500px;
    height: 500px;
    margin : auto;
    margin-top: 300px;
    object-fit: cover;

}